ESEWA_MERCHANT_ID=your_esewa_merchant_id
ESEWA_APP_ID=your_esewa_app_id
ESEWA_SECRET_KEY=your_esewa_secret
KHALTI_PUBLIC_KEY=your_khalti_public_key
KHALTI_SECRET_KEY=your_khalti_secret_key
STRIPE_SECRET_KEY=your_stripe_secret_key
